<ion-modal-view>
	<ion-header-bar>
		<h1 class = "title"> Your Cart Items </h1>
	</ion-header-bar>

	<ion-content>
		<ion-list>
			
			<ion-item class = "item-avatar-left" ng-repeat = "product in cartItems">
				<img ng-src = "{{product.images[0].src}}"/>
				<h2>{{product.name}}</h2>
				<p> {{product.categories[0].name}} </p>
				<p>${{product.price}}</p>
				<span class = "badge badge-assertive"> {{product.count}} </span>
			</ion-item>

			<ion-item style = "text-align: right">
				<h2> Total: ${{costSum}} </h2>
			</ion-item>
		
		</ion-list>

		<div class = "button-bar">
			<button class = "button button-assertive button-block outline" ng-click = "modal.hide()"> Cancel </button>
			<button class = "button button-balanced button-block outline"> Checkout </button>
		</div>
	</ion-content>
</ion-modal-view>
