<ion-view>
	<ion-nav-title>Search by Category</ion-nav-title>
		<ion-content>
			<div class = "list">
				<ion-item class = "item-thumbnail-left item-button-right" ng-repeat = "product in products">
				<img ng-src = "{{product.images[0].src}}"/>
				<h2>{{product.name}}</h2>
				<p>{{product.categories[0].name}}<br>
				<span>${{product.price}}</span></p>
				<button class = "button button-passive" ng-click = "addToCart(products)">
					<i class = "icon ion-android-cart"> </i>
				</button>
			</ion-item>
			</div>
		</ion-content>
	</ion-view>
</ion-view>