<ion-view view-title = "Sign Up">
	<div class = 'bar bar-subheader bar-positive'>
		<h1 class = "title"> Fill out the information below </h1>
	</div>
	<ion-content class = "has-subheader padding">
		<div class = "list list-inset">
			<div class = "item item-divider"> Personal Information </div>
			
			<label class = "item item-input">
				<span class = "input-label"> First Name </span>
				<input type = "text" ng-model = "newUser.first_name">
			</label>

			<label class = "item item-input">
				<span class = "input-label"> Last Name </span>
				<input type = "text" ng-model = "newUser.last_name">
			</label>

			<label class = "item item-input">
				<span class = "input-label"> Email </span>
				<input type = "text" ng-model = "newUser.email" ng-blur = "checkUserEmail(newUser.email)">
			</label>

			<label class = "item item-input">
				<span class = "input-label"> Password </span>
				<input type = "text" ng-model = "newUser.password">
			</label>

<!-- ========================================== BILLING =============================================== -->

			<div class = "item item-divider"> Billing Information </div>

			<label class = "item item-input">
				<span class = "input-label"> Address Line 1 </span>
				<input type = "text" ng-model = "newUser.billing.address1">
			</label>

			<label class = "item item-input">
				<span class = "input-label"> Address Line 2 </span>
				<input type = "text" ng-model = "newUser.billing.address2">
			</label>

			<label class = "item item-input item-select">
				<span class = "input-label"> Country </span>
				<select ng-model = "newUser.billing.country">
					<option selected> USA </option>
					<option> China </option>
					<option> Mexico </option>
				</select>
			</label>

			<label class = "item item-input">
				<span class = "input-label"> City </span>
				<input type = "text" ng-model = "newUser.billing.city">
			</label>

			<label class = "item item-input">
				<span class = "input-label"> State </span>
				<input type = "text" ng-model = "newUser.billing.state">
			</label>

			<label class = "item item-input">
				<span class = "input-label"> Zip Code </span>
				<input type = "text" ng-model = "newUser.billing.postcode">
			</label>

			<label class = "item item-input">
				<span class = "input-label"> Phone </span>
				<input type = "text" ng-model = "newUser.billing.phone">
			</label>
<!-- ===========================================SHIPPING ================================================== -->

			<ion-checkbox ng-model = "newUser.billingToShipping" ng-change = "switchBillingToShipping()"> Shipping address is the same </ion-checkbox>

			<div class = "item item-divider" ng-hide = "newUser.billingToShipping"> Shipping Information </div>
			
			<label class = "item item-input" ng-hide = "newUser.billingToShipping">
				<span class = "input-label"> Address Line 1 </span>
				<input type = "text" ng-model = "newUser.shipping.address1">
			</label>

			<label class = "item item-input" ng-hide = "newUser.billingToShipping">
				<span class = "input-label"> Address Line 2 </span>
				<input type = "text" ng-model = "newUser.shipping.address2">
			</label>

			<label class = "item item-input item-select" ng-hide = "newUser.billingToShipping">
				<span class = "input-label"> Country </span>
				<select ng-model = "newUser.shipping.country">
					<option selected> USA </option>
					<option> China </option>
					<option> Mexico </option>
				</select>
			</label>

			<label class = "item item-input" ng-hide = "newUser.billingToShipping">
				<span class = "input-label"> City </span>
				<input type = "text" ng-model = "newUser.billing.state">
			</label>

			<label class = "item item-input" ng-hide = "newUser.billingToShipping">
				<span class = "input-label"> State </span>
				<input type = "text" ng-model = "newUser.billing.state">
			</label>

			<label class = "item item-input" ng-hide = "newUser.billingToShipping">
				<span class = "input-label"> Zip Code </span>
				<input type = "text" ng-model = "newUser.shipping.postcode">
			</label>

			<label class = "item item-input"  ng-hide = "newUser.billingToShipping">
				<span class = "input-label"> Phone </span>
				<input type = "text" ng-model = "newUser.shipping.phone">
			</label>

<!-- ==========================================================CANCEL OR SIGN UP================================================== -->

		<div class = "button-bar">
			<button class = "button button-assertive button-block outline"> Cancel </button>
			<button class = "button button-balanced button-block" ng-disabled = "{{!newUser.isValid}}" ng-click = "signUp(newUser)"> Sign Up </button>
		</div>
	</div>
</ion-content>
</ion-view>